#selenium
pandas
fastapi
scipy
#moviepy
#pymysql
#django
#google-api-python-client
#google-auth
#google-auth-httplib2
#google-auth-oauthlib
python_dotenv~=1.2
requests~=2.32
uvicorn
sqlalchemy>=2.0.0
psycopg2-binary>=2.9.9
python-multipart>=0.0.6