name: Nightly Dota Print

on:
  schedule:
    - cron: "0 7 * * *"

jobs:
  run:
    runs-on: ubuntu-latest
    env:
      TEXT_DIR: ""
      REDO_HISTORIC_SCORES: "False"
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - run: pip install -r requirements.txt
      - run: python main_only_print_results.py
